* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  grid-column-gap: 30px;
}
ul li {
  font-size: 18px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
ul li::marker {
  background-image: url("https://i.pinimg.com/originals/4e/3a/ec/4e3aec97cff6d74f6b9b558abf9ab180.png");
}
.breadcrumbs ul {
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  font-weight: 700;
  color: rgb(170, 170, 170);
}

.breadcrumbs li::after {
  content: ">";
}
.breadcrumbs li:last-child::after {
  content: "";
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 20px;
}
.text-light {
  color: rgb(196, 196, 196);
}
header {
  background-color: rgb(196, 196, 196);
  color: rgb(63, 63, 63);
  padding: 20px 0px;
}
footer {
  background-color: rgb(29, 29, 29);
  padding: 10px 30px;
}
a {
  text-decoration: none;
  color: black;
}
nav {
  padding-left: 20px;
}
main {
  background-image: url("https://i.yapx.cc/QUYFW.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex: 1;
  padding: 40px;
}
.scale {
  transition: 0.5s;
}
.scale:hover {
  transform: scale(1.1);
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-gray {
  color: rgb(110, 110, 110);
}
.margin-top {
  margin-top: 30px;
}
.rotate {
    transition-duration: 10s;
}
.rotate:hover {
  transform: rotate(1800deg) scale(1.4) translate(300px, 300px);
}
